@model StudentHouse.Models.ViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<h2>Registreer</h2>
<div class="row">
    <div class="col-md-4">
        <div class="text-danger" asp-validation-summary="All"></div>
        <form asp-action="Register" asp-controller="Account" method="post">
            <input type="hidden" asp-for="ReturnUrl" />
            <div class="form-group">
                <label asp-for="Firstname">Voornaam:</label>
                <span asp-validation-for="Firstname" class="text-danger"></span>
                <input asp-for="Firstname" class="form-control" placeholder="Voer hier uw voornaam in.">
            </div>
            <div class="form-group">
                <label asp-for="Lastname">Achternaam:</label>
                <span asp-validation-for="Lastname" class="text-danger"></span>
                <input asp-for="Lastname" class="form-control" placeholder="Voer hier uw achternaam in.">
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber">Telefoonnummer:</label>
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                <input asp-for="PhoneNumber" class="form-control" placeholder="Voer hier uw telefoonnummer in.">
            </div>
            <div class="form-group">
                <label asp-for="Email">Email:</label>
                <span asp-validation-for="Email" class="text-danger"></span>
                <input asp-for="Email" class="form-control" placeholder="Voer hier uw email in.">
            </div>
            <div class="form-group">
                <label asp-for="Password">Wachtwoord:</label>
                <span asp-validation-for="Password" class="text-danger"></span>
                <input asp-for="Password" class="form-control" placeholder="Voer hier uw wachtwoord in.">
            </div>
            <button type="submit" class="btn btn-default" typeof="submit">Registreren</button>
        </form>
    </div>
</div>